*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/Clase01/Demo001/nbproject/private/
/Clase01/Demo001/build/
/Clase01/Demo002 - Huamán Arancibia Diego/build/
/Clase01/Demo002 - Huamán Arancibia Diego/nbproject/private/
/Clase01/Demo002 - Taype Luis/build/
/Clase01/Demo002 - Taype Luis/nbproject/private/
/Clase01/Demo002-PAULINO MEZONES/build/
/Clase01/Demo002-PAULINO MEZONES/nbproject/private/
/Clase01/AprendiendoJava/nbproject/private/
/Clase01/AprendiendoJava/build/
/Clase02/EjercicioCasa-albert silva/nbproject/private/
/Clase02/EjercicioCasa-albert silva/build/
/Clase02/proyevto01-CarlosTorres/build/
/Clase02/proyevto01-CarlosTorres/nbproject/private/
/Clase02/AprendiendoJava/nbproject/private/
/Clase02/AprendiendoJava/build/
/Clase02/EduTecLib/nbproject/private/
/Clase02/EduTecLib/dist/
/Clase02/EduTecLib/build/
/Clase02/EduTecApp/nbproject/private/
/Clase02/EduTecApp/build/
/Clase02/David Trujillo/EdutecAPP_DavidTrujillo/build/
/Clase02/David Trujillo/EdutecLib/build/
/Clase02/ArancibiaAlexis/EduTecApp/build/
/Clase02/ArancibiaAlexis/EduTecApp/nbproject/private/
/Clase02/ArancibiaAlexis/EduTecLib/build/
/Clase02/ArancibiaAlexis/EduTecLib/nbproject/private/
/Clase02/Matematica/nbproject/private/
/Clase02/Matematica/build/
/Clase03/CTORRES MatematicaF/build/
/Clase03/CTORRES MatematicaF/nbproject/private/
/Clase03/Matematica - Diego Huamán Arancibia/build/
/Clase03/Matematica - Diego Huamán Arancibia/nbproject/private/